*.swp
*.iso
.config
.iperd
/.git.old
/EFI/
/Makefile.config
/Makefile.local
/boot/
/cde/
/grub/
/images/
/isolinux/
/ldlinux.c32
/ldlinux.e32
/ldlinux.e64
/ldlinux.sys
/pxelinux.0
/pxelinux.cfg/
/src/config/
/src/dejavu/dejavu-fonts-ttf-*.tar.bz2
/src/dejavu/source/
/src/distros/*/grub.d/
/src/distros/*/source/
/src/grub/grub-*.tar.xz
/src/grub/grub-*.tar.xz.new
/src/grub/source/
/src/unifont/unifont-*.bdf.gz
/src/unifont/unifont.bdf
/syslinux/
/tools/
/var/
/tmp/
