*.swp
*.iso
*.new
*.new.xz
*.tar.bz2
*.tar.gz
*.tar.xz
.config
.iperd
.version
/.git.old
/EFI/
/boot/
/src/*/source/
/src/distros/*/gen.d/
/src/distros/*/grub.d/
/src/distros/*/source/
/tools/
/var/
Makefile.distro.inc
