*.swp
.iperd
/.git.old
/EFI/
/Makefile.config
/Makefile.local
/boot/
/cde/
/images/
/isolinux/
/ldlinux.c32
/ldlinux.e32
/ldlinux.e64
/ldlinux.sys
/pxelinux.0
/pxelinux.cfg/
/src/config/
/src/dejavu/dejavu-fonts-ttf-*.tar.bz2
/src/dejavu/source/
/syslinux/
/var/
/tmp/
